<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" href="/clinics">Clínicas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/specialties">Especialidades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/professionals">Profissionais</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/reports">Relatórios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users">Usuários</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients">Pacientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/appointments">Consultas</a>
  </li>
</ul>
