<h1>Editing doctors appointment</h1>

<%= render "form", doctors_appointment: @doctors_appointment %>

<br>

<div>
  <%= link_to "Show this doctors appointment", @doctors_appointment %> |
  <%= link_to "Back to doctors appointments", doctors_appointments_path %>
</div>
