<div class="row text-center" style="background-color: #19cedb">
  <div class="div mt-4">
    <h3 class="text-white">Viver Bem</h3>
    <h5 class="text-white">Aqui você encontra informações de saúde, bem-star e qualidade de vida</h5>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-2 mb-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://www.unimed.coop.br/site/documents/20124/2752531/capa_sexo3idade_2.png/b7ddf529-cc38-23ad-21ca-ab99fda88abc?t=1667496980181&download=true" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sexo na terceira idade</h5>
          <p class="card-text">9 dicas para lidar com o envelhecimento e manter uma vida sexual ativa, prazeroza e segura</p>
          <a href="https://www.unimed.coop.br/viver-bem/saude-em-pauta/sexo-na-terceira-idade-prazer-eu-existo?utm_source=redirect-site-novo&utm_medium=chamada-home2" class="btn" style="background-color: #19cedb" target="_blank">Continue lendo</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://www.unimed.coop.br/site/documents/20124/2752531/capa2_saudedohomem.jpg/e3c9b05d-98b9-7f5e-9f08-90020f117e22?t=1667306558252&download=true" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cuidado com a saúde do homem</h5>
          <p class="card-text">Por que homens dão pouca atenção para a saúde e como les podem se cuidar mais?</p>
          <a href="https://www.unimed.coop.br/viver-bem/saude-em-pauta/cuidados-com-a-saude-do-homem?utm_source=redirect-site-novo&utm_medium=chamada-home2" class="btn" style="background-color: #19cedb" target="_blank">Continue lendo</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://www.unimed.coop.br/site/documents/20124/2752531/capa2_proteina.jpg/73b2259a-45a8-2cc5-2cc6-71f95966121d?t=1666874910454&download=true" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proteínas: por que são tão importantes?</h5>
          <p class="card-text">Muito além do ganho muscular, as proteínas tem diferentes origens e desempenham funções vitais</p>
          <a href="https://www.unimed.coop.br/viver-bem/alimentacao/proteinas-por-que-sao-tao-importantes-?utm_source=redirect-site-novo&utm_medium=chamada-home2" class="btn" style="background-color: #19cedb" target="_blank">Continue lendo</a>
        </div>
      </div>
    </div>
  </div>
</div>
