<div class="row align-items-center" style="background-image: url('https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?w=1060&t=st=1668003720~exp=1668004320~hmac=c154cbfb64d1fa8358366665a1b77dadcaa18b0b669a335ee8b4a3f23a6d31f7'); height: 30vh;">
  <div class="col text-center">
    <h4>Consulte nossas clínicas e profissionais</h4>
    <h6>Sua busca ainda mais fácil.</h6>
    <h6>Encontre clínicas e profissionais perto de você.</h6>
    <a href="/clinics_search" class="btn" style="background-color: #19cedb">Consulte clínicas agora</a>
    <a href="/professionals_search" class="btn" style="background-color: #19cedb">Consulte profissionais agora</a>
  </div>
</div>
